

.brand-icons{
    padding: 0 15px;
}

.brand-name{
    font-weight: bold;
}

.nav-link{
    margin-left: 210px;
    font-weight: 500;
}

.section-users{
    background:#6008db;
    color:#050505;
}
