

.brand-icons{
    padding: 0 15px;
}

.brand-name{
    font-weight: bold;
}

.nav-link{
    margin-left: 210px;
    font-weight: 500;
}

.section-users{
    background:#040404;
    color:#050505;
}

nav a:hover {
  background-color: #060606;
}
.circle{
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    width: 450px;
    height: 450px;
    border-radius: 100%;
    overflow: hidden;
    background-color: blue;
}
img.cir{
    
    float: left;
    margin-left: 50px;
    margin-top: 2px;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    overflow: hidden;
    background-color: blue;
}
.para{
    float:right;   
    font-size: 20px;           
    text-align:justify;         
    
}
.section
{
    text-align:right;
}
h3, h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:justify;
}
.slides{
    width: 100%;
    overflow: hidden;
}
.slides img{
    width: 5%;
    height: auto;
}

    

